<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            height: 40px;
            border-radius: 5px;
            outline: none;
            font-size: 25px;
        }

        form {
            width: 500px;
            padding: 40px 20px 30px 20px;
            display: flex;
            flex-direction: column;
            background-color: #3f8edc1b;
            border-radius: 5px;
            box-shadow: 2px 2px 8px 2px #000;
        }

        button {
            width: 500px;
            height: 60px;
            border-radius: 5px;
            font-size: 25px;
            margin-top: 10px;
            color: #fff;
            font-family: sans-serif;
            font-weight: bold;
            border: none;
        }

        .inputLabel {
            margin: 20px 0 0 0;
            font-size: 20px;
            font-family: sans-serif;
            font-weight: bold;
        }

        #resetText {
            font-family: sans-serif;
            font-size: 40px;
            font-weight: bolder;
        }

        #submit {
            margin: 40px 0 0 0;
            background-color: #3b3b3b;
        }

        #login {
            background-color: #3b3b3b;
        }

        .error {
            color: #ff0000;
        }
    </style>
</head>

<body>
    <form method="POST" action="">
        <label for="resetText" id="resetText">Reset Password</label>

        <label for="password" class="inputLabel">New Password</label>
        <input type="password" name="password" id="password" value="<%=savedPassword%>" required />
        <label for="error" class="error">
            <%=passwordErr%>
        </label>

        <label for="cpassword" class="inputLabel">Confirm Password</label>
        <input type="password" name="cpassword" id="cpassword" value="<%=savedCPassword%>" required />
        <label for="error" class="error">
            <%=cpasswordErr%>
        </label>

        <button type="submit" id="submit">Confirm</button>

        <a href="/api/user/login">
            <button type="button" id="login">Login</button>
        </a>
    </form>


</body>

</html>