/* main body */
html,
body,
.full-height {
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(135deg, #667eea4f 0%, #764ba24f 100%);

}
.extrasContainer {
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extrasContainer img{
  width: 100%;
  height: 100%;
}
/* left side details */
.showChatsContainer {
  position: relative;
  overflow: hidden;
}
.logo {
  text-transform: uppercase;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 28px;
}
.userProfileDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.profileImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilePictureInnerContainer {
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 50%;
}
.profilePictureToEditUpload {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}
.profilePictureToEditUpload+label {
  margin-top: 10px;
  color: #9c2dbdba;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #9c2dbdba;
}
.profilePictureToEditUpload+label:hover {
  background-color: #9c2dbdba;
  color: #fff;
}
.otherProfileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  max-height: calc(100vh - 260px);
}
.otherProfileDetails::-webkit-scrollbar{
  display: none;
}
.nameOfUser {
  margin: 20px 20px 0;
  text-align: center;
  font-size: 24px;
  font-family: sans-serif;
  text-transform: uppercase;
  word-break: break-all;
}
.email {
  margin: 0 20px 10px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  word-break: break-all;
}
.userInput {
  display: flex;
  background-color: #0000001f;
  border-radius: 5px;
  margin: 10px 0;
}
.searchForUser {
  flex: 1;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  min-width: 0;
}
.searchForUser::placeholder {
  color: #fff;
}
.add {
  background-color: transparent;
  border: none;
}
.add svg {
  height: 30px;
  width: 30px;
  fill: #fff;
}
.createGroup {
  background: transparent;
  border: none;
}
.createGroup svg {
  height: 40px;
  width: 40px;
  fill: #fff;
}
/* show chats section */
.showChats {
  margin: 20px 0 0 0;
  height: calc(100vh - 160px);
  overflow: auto;
}
.showChats::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
.showChats::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 2px;
}
.chatBox {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.active {
  background: #0000001f;
}
.chatPicture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.chatDescription {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.chatName {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
}
.latestMessage {
  color: #fff;
  font-size: 14px;
  margin: 10px 0 10px 0;
  font-family: sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
}
.chatCount {
  font-size: 14px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20px;
  white-space: nowrap;
}
.chatCountContainer {
  display: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000005f;
  border-radius: 50%;
}
/* right side details */
.chatContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* display: none; */
}
.chatDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background: #0000001f;
}
.chatImageOnScreen {
  border-radius: 50%;
  margin: 10px;
}
.chatNameOnScreen {
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 0 0 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 210px);
  overflow: hidden;
}
.export {
  background-color: transparent;
  border: none;
  top: 50px;
  position: absolute;
  right: 25px;
}
.export svg {
  width: 25px;
  height: auto;
  fill: #fff;
}
/* show message section */
.showMessage {
  position: relative;
  padding: 20px;
  height: calc(100vh - 200px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.showMessage::-webkit-scrollbar {
  display: none;
}
.sendedMessage {
  position: relative;
  background-color: #c8d2f5;
  width: 70%;
  margin: 0px 0 10px 0px;
  padding: 20px 10px;
  line-break: anywhere;
  color: #000;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-bottom-left-radius: 0;
}
.receavedMessage {
  align-items: flex-end;
  position: relative;
  background-color: #eed2f1;
  width: 70%;
  margin: 0px 0 10px 0px;
  padding: 20px 10px;
  line-break: anywhere;
  color: #000;
  font-size: 18px;
  align-self: flex-end;
  font-family: sans-serif;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-top-right-radius: 0;
}
.receavedMessage .senderEmail {
  color: #764ba2;
  display: block;
  background: inherit;
  font-size: 14px;
  margin: -10px 10px 0 0px;

}
.sendedMessage .senderEmail {
  color: #667eea;
  display: block;
  background: inherit;
  font-size: 14px;
  margin: -10px 0 0 10px;
}
.receavedMessage .innerMessage {
  margin: 0px 30px 0 10px;
  display: block;
  font-weight: lighter;
}
.sendedMessage .innerMessage {
  margin: 0px 10px 0 30px;
  display: block;
  font-weight: lighter;
}
/* message send section */
.messageSendContainer {
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0000001f;
}
.messageToSend {
  height: 50px;
  flex: 1;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  color: #fff;
}
.messageToSend::placeholder {
  color: #fff;
}
.send {
  border: none;
  background-color: transparent;
}
.send svg {
  height: 40px;
  width: 40px;
  fill: #fff;
}
.backButton svg {
  width: 30px;
  height: 30px;
  padding: 0;
  fill: #fff;
}
/*Add Group*/
.addGroupDetails {
  height: calc(100vh - 95px);
  background-color: #0000001f;
  border-radius: 10px;
  margin-top: 10px;
}
.addGroupDetails .showParticipantsInGroupOnUpdate {
  height: calc(100vh - 280px);
  margin-top: 30px;
}
.showParticipantsInGroupOnUpdate .participant {
  height: fit-content;
}
.groupNameContainer,
.addParticipantsContainer {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px 0 10px;
  border-radius: 5px;
  background-color: #0000001f;
}
.groupName,
.addParticipantsText {
  font-size: 18px;
  padding: 10px;
  flex: 1;
  min-width: 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: none;
}
.groupName::placeholder,
.addParticipantsText::placeholder {
  color: #fff;
}
.createGroupButton,
.addParticipantsButton {
  border: none;
  background-color: transparent;
}
.createGroupButton svg {
  height: 40px;
  width: 40px;
  fill: #fff;
}
.addParticipantsButton svg {
  height: 30px;
  width: 30px;
  fill: #fff;
}
.titleContainer {
  display: flex;
  justify-content: center;
}
.groupTitle {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  margin: 0 0 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.closeContainer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.closeContainer .backButton {
  width: max-content;
  transform: rotate(90deg);
}
/* Group Edit  */
.editGroupContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
}
.editGroupOuterContainer {
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #0000001f;
  height: 0%;
}
.h100 {
  height: 100%;
  animation-name: increase;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}
.bottom-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.groupNameUpdateInputContainer,
.addParticipantInGroupByUserOnUpdateContainer {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 10px;
  padding: 0px 10px 0 10px;
  border-radius: 5px;
  background-color: #0000001f;
}
.groupNameUpdateInput,
.addParticipantInGroupByUserOnUpdate {
  font-size: 18px;
  padding: 10px;
  flex: 1;
  min-width: 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  border: none;
}
.groupNameUpdateInput::placeholder,
.addParticipantInGroupByUserOnUpdate::placeholder {
  color: #fff;
}
.groupNameUpdateInputButton,
.addParticipantInGroupByUserOnUpdateButton {
  border: none;
  background-color: transparent;
}
.groupNameUpdateInputButton svg,
.addParticipantInGroupByUserOnUpdateButton svg {
  height: 40px;
  width: 40px;
  fill: #fff;
}
.showParticipantsInGroupOnUpdate {
  margin: 40px 10px 0px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}
.showParticipantsInGroupOnUpdate::-webkit-scrollbar {
  display: none;
}
.participant {
  background: #0000001f;
  padding: 10px 20px;
  margin: 0px 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* burger menu */
.menuOuterContainer {
  position: absolute;
  left: 0;
  height: 100px;
  width: 70px;
  transition:width .10s linear;
}
.menuInnerContainer {
  width: 100%;
  padding: 80px 0 20px;
}
.bg-changeforMenu {
  background-color: #fff;
  border-bottom-right-radius: 10px;
}
.abs-right {
 height: 100%;
 width: 100%;
 transition:width .10s linear;
}
.menu-icon {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  margin: -45px 20px 0 0;
}
.line1,
.line2,
.line3 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  height: 4px;
  width: 30px;
  transform-origin: center;
}
.line1 {
  margin-bottom: 7px;
}
.line3 {
  margin-top: 7px;
}
.line1,
.line3 {
  transition: transform 0.25s linear, margin 0.25s 0.5s;
}
.line2 {
  width: 30px;
  transition: width 0.25s 0.5s linear;
}
.menu-icon.menuOpen .line1 {
  margin-bottom: -4px;
  transform: rotate(135deg);
  background-color: #000;
}
.menu-icon.menuOpen .line3 {
  margin-top: -4px;
  transform: rotate(45deg);
  background-color: #000;
}
.menu-icon.menuOpen .line1,
.menu-icon.menuOpen .line3 {
  transition: transform 0.25s 0.5s linear, margin 0.25s;
}
.menu-icon.menuOpen .line2 {
  width: 0;
  transition: width 0.25s linear;
}
.menuOptions a{
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000af;
  padding: 10px 0 10px;
}
/* animations */
@keyframes increase {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}
/* responsive */
@media screen and (max-width: 990px) {
  .chatImageOnScreen {
    width: 70px;
    height: 70px;
  }

  .chatNameOnScreen {
    font-size: 24px;
    font-weight: 500;
  }

  .export {
    top: 40px;
  }

  .showMessage {
    height: calc(100vh - 170px);
  }

  .editGroupOuterContainer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .extrasContainer{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .showParticipantsInGroupOnUpdate {
    margin: 20px 5px 0px;
    padding: 0;
  }
}